<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DAS-features-test-suite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="das-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.das.integration.tests.jsapi.analytics"/>
        </packages>
    </test>
    <test name="global-purging" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.das.integration.tests.globalpurging"/>
        </packages>
    </test>

    <test name="analytics-esb-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.das.integration.tests.esb.ESBAnalyticsPublishingTestCase"/>
            <class name="org.wso2.das.integration.tests.esb.ESBAnalyticsStatisticsTestCase"/>
        </classes>
    </test>

    <test name="security-test" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.das.integration.tests.security.XSSTest"/>
        </classes>
    </test>
</suite>
